[submodule "extern/Catch"]
	path = extern/Catch
	url = https://github.com/philsquared/Catch
[submodule "extern/benchmark"]
	path = extern/benchmark
	url = https://github.com/google/benchmark
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
